.base {
  @apply rounded p-2 transition-all disabled:opacity-50 disabled:cursor-default;
}

.primary {
  @apply bg-sky-600 text-white;
}

.primary:not(:disabled) {
  @apply hover:bg-sky-900;
}

.primaryOutlined {
  @apply border text-sky-600 border-sky-600;
}

.primaryOutlined:not(:disabled) {
  @apply hover:text-white hover:bg-sky-600 hover:border-sky-600;
}

.dangerOutlined {
  @apply border text-red-400 border-red-400;
}

.dangerOutlined:not(:disabled) {
  @apply hover:text-white hover:bg-red-400 hover:border-red-400;
}

.buttonGroup {
  @apply flex;
}

.buttonGroup .primary {
  @apply border-r border-r-sky-900;
}

.buttonGroup .base:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttonGroup .base:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.buttonGroup .base:not(:first-child) {
  border-left: none;
}

.buttonGroup .base:not(:first-child):not(:last-child) {
  border-radius: 0;
}
