.base {
  @apply rounded px-4 py-2 transition-colors;
}

.primary {
  @apply bg-sky-600 text-white hover:bg-sky-700;
}

.primaryOutlined {
  @apply border text-sky-600 border-sky-600 hover:text-white hover:bg-sky-700 hover:border-sky-700;
}

.primaryOutlined.active {
  @apply bg-sky-600 text-white;
}

.buttonGroup {
  @apply flex;
}

.buttonGroup .base:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttonGroup .base:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.buttonGroup .base:not(:first-child) {
  border-left: none;
}

.buttonGroup .base:not(:first-child):not(:last-child) {
  border-radius: 0;
}
