@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('./assets/Montserrat-VariableFont_wght.ttf') format('opentype');
}

body {
  @apply dark:text-white bg-white dark:bg-zinc-800 overflow-hidden;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

path {
  vector-effect: non-scaling-stroke;
}

.__border {
  @apply border border-zinc-300 dark:border-zinc-700;
}

.__text-muted {
  @apply text-zinc-700 dark:text-zinc-400;
}

.__shadow {
  @apply shadow-lg shadow-zinc-300 dark:shadow-zinc-900;
}
